In [2]:
import pandas as pd

In [3]:
df= pd.read_csv('Hikes_averages.csv')

In [6]:
#creat me a country named all which has the average of all countries except the name of course
average_row = df.mean(numeric_only=True)

# Create a new DataFrame row with the averages
average_row['country_name'] = 'All'  # Label the row
average_df = pd.DataFrame([average_row])

# Append the new row with averages to the original DataFrame
df_with_average = pd.concat([df, average_df], ignore_index=True)

In [8]:
df_with_average

,country_name,duration_hours,length_3d,difficulty,uphill,downhill
0,Albania,10.204365,14358.544306,3.570000,1501.553686,1325.222829
1,Andorra,5.221574,8428.257849,3.333333,709.631000,966.387667
2,Argentina,2.013264,4016.159010,1.750000,241.962518,250.487512
3,Armenia,4.017292,10613.966356,3.000000,801.519081,409.761581
4,Austria,6.101208,11898.144843,3.190151,981.477461,866.951212
5,Belgium,5.803333,18341.930959,1.333333,339.289667,338.076333
6,Bosnia and Herzegovina,5.370556,9729.683579,3.670000,798.481910,791.023439
7,Bulgaria,5.641076,9477.733752,2.707500,625.001000,625.926000
8,Canada,2.304206,14416.644121,1.428571,401.557143,267.557143
9,Chile,5.494167,11198.073777,2.000000,489.600000,492.600000
10,China,53.654583,37570.600542,2.000000,1330.060424,1466.815522
11,Costa Rica,1.246111,6696.651801,2.165000,954.548500,935.048500
12,Croatia,4.321528,11158.934093,1.750000,611.328250,395.900750
13,Czechia,2.236296,11182.204884,1.777778,404.771667,352.053889
14,Ecuador,3.804861,23319.968131,3.165000,605.181500,828.766500
15,Faroe Islands,3.338611,9766.288441,2.000000,465.563000,419.643000
16,France,6.498698,10947.106612,2.297879,926.246036,751.758632
17,Georgia,6.454784,13929.472938,2.222222,684.540378,624.712576
18,Germany,6.574622,13406.242357,2.282874,674.749379,621.596954
19,Greece,5.507809,10342.880165,2.703333,655.978981,478.198644
20,Greenland,2.685556,5991.171185,2.000000,162.987000,205.287000
21,Hungary,4.078056,10709.940137,3.000000,551.320000,563.340000
22,Iceland,8.105741,12235.674846,2.777778,639.538109,591.094776
23,India,6.222500,79903.930897,4.000000,1840.370000,1795.375000
24,"Iran, Islamic Republic of",56.013056,41064.310824,3.670000,2303.106000,2339.626000
25,Ireland,4.234192,10333.493147,3.393636,744.645446,616.772826
26,Israel,3.998333,7518.128696,2.000000,319.494000,319.494000
27,Italy,85.913726,15730.815285,2.836121,1263.620139,1205.216687
28,Japan,0.635139,5997.234291,1.250000,129.400000,120.650000
29,Liechtenstein,6.094770,14648.991128,3.114828,882.543369,1036.478499
30,Malta,26579.934028,87051.259616,1.000000,1450.598500,1519.573500
31,Monaco,4.771111,8906.824569,2.000000,298.290000,478.530000
32,Montenegro,5.791806,10861.302525,2.665000,843.928772,867.197693
33,Morocco,3.969861,9311.080179,3.582500,904.820250,538.920250
34,Nepal,132.224583,81020.210738,2.805000,6199.903737,5380.559535
35,Netherlands,3.227222,12796.814292,1.000000,79.144696,79.144696
36,New Zealand,7.462083,16565.109950,3.665000,1186.241500,1181.436500
37,North Macedonia,7.435370,16812.678573,2.388333,1156.789597,1142.882097
38,Norway,1042.792367,11001.674998,2.826400,757.274999,702.822277
39,"Palestine, State of",2.366389,5177.999783,3.330000,127.992000,130.882000
40,Peru,6.896111,25958.945166,2.000000,755.429000,680.999000
41,Poland,6.313056,12734.432027,2.000000,725.542000,835.412000
42,Portugal,220.369722,226907.816848,1.000000,3326.942000,3145.422000
43,Romania,4.982037,14009.996347,3.333333,878.596736,1036.106945
44,Russian Federation,3.824861,38359.690300,2.000000,1801.950000,887.950000
45,San Marino,3.436389,5129.163855,1.000000,216.500000,144.500000
46,Serbia,5.082778,15562.057232,2.000000,665.516536,670.205359
47,Slovakia,8.657222,13745.137773,4.000000,1058.104500,1101.929500
48,Slovenia,2.552847,5877.594724,3.000000,850.184500,579.284500
49,Spain,7.636952,16123.667975,2.685652,865.484433,806.666750
50,Sweden,10.807083,12207.763577,1.750000,251.796250,440.576250
51,Switzerland,24.653127,13703.284382,3.243446,1124.518804,1059.623833
52,Tajikistan,4.081667,8171.127837,2.000000,548.990000,498.690000
53,"Tanzania, United Republic of",3.836667,8240.455460,3.000000,809.600000,0.000000
54,Thailand,2.346528,4977.346791,1.500000,448.006000,602.031000
55,Turkmenistan,3.064306,7848.533022,2.000000,408.205000,541.705000
56,Türkiye,4.366667,8742.358824,2.416667,692.306833,373.752667
57,United Kingdom,15.031278,26102.444428,2.533200,842.096199,816.946884
58,United States,2.824879,11963.971256,2.802676,706.527574,689.343063
59,All,482.280153,20352.608847,2.473162,898.666882,829.405369

In [9]:
df= pd.read_csv('Hikes_10october.csv')

In [65]:
#trie moi par le plus grand nombre de duration_hours

pd.set_option('display.max_rows', None)
#df_filtered.sort_values(by='min_elevation', ascending=True)
#show me more

In [63]:
df_filtered = df[df['min_elevation'] >= 0]

In [36]:
df_filtered.iloc[6]

Unnamed: 0                                                           7
name                                           tour del cervino in mtb
user                                                           portage
length_3d                                                154164.787564
start_time                                         2015-08-01 15:52:29
end_time                                           2015-09-07 13:24:45
moving_time                                            1 days 10:28:44
duration                                                7 days 2:23:05
max_elevation                                                  3341.71
min_elevation                                                  1115.74
uphill                                                        9054.141
downhill                                                      9082.321
difficulty                                                        3.33
url                           http://www.hikr.org/tour/post100071.html
Bounds_min_pos                                 (7.8043005, 46.2131532)
Bounds_max_pos                                 (7.4816279, 45.8903206)
country                                                             IT
gpx                  <?xml version="1.0" encoding="UTF-8"?>\n<gpx x...
duration_hours                                                   168.0
moving_time_hours                                            34.478889
country_name                                                     Italy
Name: 7, dtype: object

In [35]:
df_filtered.iloc[6, df_filtered.columns.get_loc('duration')] = "7 days 2:23:05"  # 7 days

In [66]:
df_filtered.to_csv('Hikes_12october.csv', index=False)

In [67]:
df = df_filtered

In [68]:
grouped_averages = df.groupby('country_name').mean(numeric_only=True).reset_index()

# Calculate overall averages
overall_averages = df.mean(numeric_only=True).to_frame().T  # Transpose to make it a row
overall_averages['country_name'] = 'All'

In [69]:
final_table = pd.concat([grouped_averages, overall_averages], ignore_index=True)

In [70]:
final_table

,country_name,length_3d,max_elevation,min_elevation,uphill,downhill,difficulty,duration_hours,moving_time_hours
0,Albania,14358.544306,2487.203714,917.572857,1501.553686,1325.222829,3.570000,10.204365,5.360675
1,Andorra,8428.257849,2852.206667,1914.513333,709.631000,966.387667,3.333333,5.221574,3.292130
2,Argentina,4016.159010,3139.075012,2902.449997,241.962518,250.487512,1.750000,2.013264,1.577222
3,Armenia,10613.966356,2338.500000,1626.522500,801.519081,409.761581,3.000000,4.017292,2.854097
4,Austria,11810.829816,2025.754518,1105.903683,969.416379,859.901722,3.168010,6.170330,3.592487
5,Belgium,18341.930959,614.780000,451.410000,339.289667,338.076333,1.333333,5.803333,5.191481
6,Bosnia and Herzegovina,9729.683579,2389.395264,1624.932881,798.481910,791.023439,3.670000,5.370556,3.257917
7,Bulgaria,9477.733752,2454.190000,1742.162500,625.001000,625.926000,2.707500,5.641076,3.622847
8,Canada,10109.752747,948.750000,407.500000,568.000000,361.000000,1.750000,1.807569,1.741875
9,Chile,11198.073777,451.000000,60.333333,489.600000,492.600000,2.000000,5.494167,3.952778
10,China,37570.600542,3541.445000,2586.199951,1330.060424,1466.815522,2.000000,53.654583,12.089167
11,Costa Rica,6696.651801,1933.240000,1638.240000,954.548500,935.048500,2.165000,1.246111,0.986944
12,Croatia,13744.666344,1195.843333,534.420000,765.971000,481.734333,2.000000,5.376204,4.017130
13,Czechia,11182.204884,995.525556,687.268889,404.771667,352.053889,1.777778,2.236296,1.966204
14,Ecuador,23319.968131,3886.780000,1424.535000,605.181500,828.766500,3.165000,3.804861,2.841944
15,Faroe Islands,9766.288441,470.010000,50.450000,465.563000,419.643000,2.000000,3.338611,2.089167
16,France,10960.215092,1754.060599,1071.713214,937.416088,759.577295,2.304021,6.546148,3.402446
17,Georgia,13929.472938,2091.122228,1439.204455,684.540378,624.712576,2.222222,6.454784,4.635864
18,Germany,13378.233927,1255.235604,684.093491,670.011791,616.201846,2.268215,5.169236,3.469655
19,Greece,9044.454372,1287.327504,614.803329,691.447224,572.609216,2.971667,4.651875,3.482685
20,Greenland,5991.171185,186.630000,25.610000,162.987000,205.287000,2.000000,2.685556,1.700556
21,Hungary,10709.940137,642.300000,119.340000,551.320000,563.340000,3.000000,4.078056,2.961111
22,Iceland,12235.674846,927.338887,335.337778,639.538109,591.094776,2.777778,8.105741,4.215957
23,India,79903.930897,5182.500000,3412.100000,1840.370000,1795.375000,4.000000,6.222500,3.819167
24,"Iran, Islamic Republic of",41064.310824,4374.620000,2464.960000,2303.106000,2339.626000,3.670000,56.013056,14.211111
25,Ireland,10864.768603,705.440590,105.782121,770.172090,674.493208,3.533000,4.757611,3.656833
26,Israel,7518.128696,873.010000,586.060000,319.494000,319.494000,2.000000,3.998333,2.401667
27,Italy,15232.057681,2038.576184,989.585956,1239.577924,1185.158410,2.852757,8.083142,4.988914
28,Japan,5997.234291,517.500000,433.500000,129.400000,120.650000,1.250000,0.635139,0.635139
29,Liechtenstein,14648.991128,2028.928139,1110.497149,882.543369,1036.478499,3.114828,6.094770,4.219933
30,Monaco,8906.824569,574.530000,145.300000,298.290000,478.530000,2.000000,4.771111,3.388611
31,Montenegro,10861.302525,1397.158691,535.467041,843.928772,867.197693,2.665000,5.791806,3.805833
32,Morocco,9311.080179,1945.237500,1113.065000,904.820250,538.920250,3.582500,3.969861,2.765139
33,Nepal,81020.210738,4285.780844,1815.147715,6199.903737,5380.559535,2.805000,132.224583,24.741921
34,Netherlands,12796.814292,21.000000,1.002441,79.144696,79.144696,1.000000,3.227222,2.570278
35,New Zealand,16565.109950,1655.530000,570.200000,1186.241500,1181.436500,3.665000,7.462083,6.140972
36,North Macedonia,16812.678573,2377.671833,1368.334650,1156.789597,1142.882097,2.388333,7.435370,5.798981
37,Norway,10924.744072,1243.541038,582.995126,751.374944,694.129575,2.860833,5.465903,4.036701
38,"Palestine, State of",5177.999783,181.350000,93.870000,127.992000,130.882000,3.330000,2.366389,2.008333
39,Peru,25958.945166,3743.650000,3048.920000,755.429000,680.999000,2.000000,6.896111,4.140278
40,Poland,12734.432027,1636.840000,965.090000,725.542000,835.412000,2.000000,6.313056,4.440556
41,Romania,14009.996347,1916.399056,1082.421017,878.596736,1036.106945,3.333333,4.982037,3.531111
42,Russian Federation,38359.690300,2670.500000,1642.000000,1801.950000,887.950000,2.000000,3.824861,3.824861
43,San Marino,5129.163855,725.000000,547.000000,216.500000,144.500000,1.000000,3.436389,1.696944
44,Serbia,15562.057232,2172.701938,1552.258726,665.516536,670.205359,2.000000,5.082778,3.922361
45,Slovakia,13745.137773,2568.285000,1459.370000,1058.104500,1101.929500,4.000000,8.657222,3.665139
46,Slovenia,5877.594724,1663.557500,804.710000,850.184500,579.284500,3.000000,2.552847,1.762569
47,Spain,16364.375773,1556.002422,831.799754,897.287456,832.170919,2.707385,7.759363,4.412825
48,Sweden,12207.763577,808.967500,404.010000,251.796250,440.576250,1.750000,10.807083,4.762431
49,Switzerland,13660.758338,2089.832590,1111.526625,1107.338723,1056.322188,3.244704,6.697055,4.280965
50,Tajikistan,8171.127837,1635.300000,1124.600000,548.990000,498.690000,2.000000,4.081667,2.894722
51,"Tanzania, United Republic of",8240.455460,2695.800000,1886.200000,809.600000,0.000000,3.000000,3.836667,2.859167
52,Thailand,4977.346791,1670.635000,1071.030000,448.006000,602.031000,1.500000,2.346528,1.753194
53,Turkmenistan,7848.533022,954.550000,410.450000,408.205000,541.705000,2.000000,3.064306,1.682361
54,Türkiye,8841.658977,2254.990000,1533.507273,738.531273,390.034909,2.454545,4.521111,3.273182
55,United Kingdom,13560.028365,713.502329,123.740049,735.968457,708.346095,2.634762,7.369114,4.609259
56,United States,11963.971256,2173.058452,1653.398309,706.527574,689.343063,2.802676,2.824879,2.270215
57,All,14101.917432,1969.331939,1024.274244,1095.988125,1034.022059,2.947841,7.219508,4.406042

In [48]:
final_table = final_table.drop(columns=['Unnamed: 0'])

In [50]:
df = df.drop(columns=['Unnamed: 0'])

In [52]:
df.to_csv('Hikes_12october.csv', index=False)

In [49]:
final_table

,country_name,length_3d,max_elevation,min_elevation,uphill,downhill,difficulty,duration_hours,moving_time_hours
0,Albania,14358.544306,2487.203714,917.572857,1501.553686,1325.222829,3.570000,10.204365,5.360675
1,Andorra,8428.257849,2852.206667,1914.513333,709.631000,966.387667,3.333333,5.221574,3.292130
2,Argentina,4016.159010,3139.075012,2902.449997,241.962518,250.487512,1.750000,2.013264,1.577222
3,Armenia,10613.966356,2338.500000,1626.522500,801.519081,409.761581,3.000000,4.017292,2.854097
4,Austria,11820.735708,2026.518958,1103.259229,972.872273,860.699576,3.168862,6.173547,3.596185
...,...,...,...,...,...,...,...,...,...
54,Turkmenistan,7848.533022,954.550000,410.450000,408.205000,541.705000,2.000000,3.064306,1.682361
55,Türkiye,8742.358824,2071.315000,1405.570000,692.306833,373.752667,2.416667,4.366667,3.163032
56,United Kingdom,26102.444428,659.330832,92.201608,842.096199,816.946884,2.533200,15.031278,6.543956
57,United States,11963.971256,2173.058452,1653.398309,706.527574,689.343063,2.802676,2.824879,2.270215
58,All,14229.933618,1958.593771,1009.438896,1102.127236,1034.605362,2.939961,7.307595,4.424280

In [71]:
final_table.to_csv('Hikes_A_12october.csv', index=False)

In [54]:
df = pd.read_csv('Hikes_12october.csv')